.container{
	height: 100vh;
	background: linear-gradient(orange,black);
	display: flex;
	align-items: center;
	justify-content: center;
}

.quote__and__btn{
	background-color: #fff;
	border-radius: .2rem;
	width: 40rem;
	height: 10rem;
	position: relative;
	padding: 1rem 1rem 0 1rem;
}

.quote{
	text-align: center;

}

.btn{
	background-color: black;
	padding: .3rem 1rem;
	border-radius: .2rem;
	font-weight: bolder;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 17rem;

}

